/*-----------
	ALERTS
------------*/
@use "assets/styles/theme" as *;
@use "assets/styles/helpers/functions" as fn;

.alertWrapper {
	padding: $alert-py $alert-px;
	border: solid 1px $color-error;
	background-color: $color-error-light;
	color: $color-error;
}
